.venv/
venv/
.ipynb_checkpoints/
.idea/
src/vt_reports/
tmp/
.temp/
data/*
!data/top_features/all_sections.list
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
__pycache__/
output*
src/notebooks/dataset_rp.csv